.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.google-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

button {
  display: flex;
  align-items: center;
}
