<mat-toolbar color="primary">
  <span>Your App Name</span>
  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        [src]="user.profilePicture"
        class="avatar"
        *ngIf="user.profilePicture"
      />
      {{ user.displayName }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #loginButton>
    <button mat-raised-button (click)="login()">
      <img src="assets/google-logo.png" class="google-icon" />
      Sign in with Google
    </button>
  </ng-template>
</mat-toolbar>
