<div class="tickets-page">
  <div class="table-card">
    <div class="table-controls">
      <div class="search-container">
        <h3>Tickets for {{ baseName }}</h3>
      </div>
    </div>

    <div class="table-container">
      <ag-grid-angular
        #agGrid
        class="ag-theme-material"
        [rowData]="tickets"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        [modules]="modules"
        (rowClicked)="onRowClicked($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
