<div class="tickets-container">
  <h3>Tickets for {{ baseName }}</h3>
  <div class="grid-container">
    <ag-grid-angular
      class="ag-theme-alpine"
      [rowData]="tickets"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="10"
      [animateRows]="true"
      [modules]="modules"
      [domLayout]="'autoHeight'"
      style="width: 100%; height: 500px"
      (rowClicked)="onRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>
